# IDE
/.vscode/*
/!.vscode/launch.json
/!.vscode/settings.json

# top level
/common_download
/dist
/output
/venv

# in all folders
**/__pycache__/*
**/*.pyc

# mac/unix

#windows
/tooling_windows/osmconvert_tempfile.*
