# maps/**/*
maps/*
output/*
output*/*
tools_dl/
common_resources/land-polygons-split-4326/
common_resources/land-polygons-split-4326.zip
tooling_windows/Windows-Wahoo-Map-Creator-Osmosis/land-polygons-split-4326.zip

common_resources/__pycache__/*