# IDE
/.vscode/*
/!.vscode/launch.json
/!.vscode/settings.json

# top level
/common_download
/dist
/output
/venv
osmconvert_tempfile.*

# in all folders
**/__pycache__/*
**/*.pyc
**/*.DS_Store

# mac/unix

#windows
/tooling_windows/osmconvert_tempfile.*
