asgiref==3.3.4
astroid==2.5.6
certifi==2021.5.30
chardet==4.0.0
Django==3.2.4
GDAL==3.2.2
idna==2.10
isort==5.8.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
mypy==0.902
mypy-extensions==0.4.3
numpy==1.20.2
pylint==2.8.3
pylint-django==2.4.4
pylint-plugin-utils==0.6
pytz==2021.1
requests==2.25.1
rope==0.19.0
sqlparse==0.4.1
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.5
wrapt==1.12.1
